$white: #fff;
$black: #000;
$light-grey: #f0f3f7;
$medium-grey: #d0d3d7;
$grey: #7c878e;
$uct-blue: #006bc5;
$uconn-blue: #000e2f;
$loading-background: linear-gradient(45deg, $uconn-blue, $uct-blue);
$sans-serif: "Proxima Nova", sans-serif;
$display-serif: Georgia, 'Times New Roman', Times, serif;
$serif: Chronicle,serif;

html.uct-reader-open {
  .fl-builder-layer {
    position: relative;
    > * {
      position: relative;
    }
  }
}

div[id^="uctoday-plugin-app"] {
  font-size: 16px !important;
  overflow-y: hidden !important;
  .uct-loading-image {
    background-image: $loading-background;
    height: 192px;
    opacity: 0.5;
  }
  .uctoday-list-item {
    &:hover {
      cursor: pointer;
    }
  }
  #uct-content-wrapper {
    background-color: $white;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    img {
      height: auto;
      max-width: 100%;
    }
    .uctoday-fallback-image {
      height: 600px;
      margin: 0 auto;
      width: auto;
    }
    &.uct-wrapper {
      &-closed {
        display: none;
      }
      &-open {
        display: block;
      }
    }
    button {
      background-color: $light-grey;
      border: 1px solid transparent;
      border-radius: 0;
      color: $black;
      font-family: $sans-serif;
      font-size: 16px;
      font-weight: normal;
      letter-spacing: unset;
      min-width: auto;
      padding: 16px 32px;
      text-transform: none;
      transition: scale .2s ease-in-out;
      &:before,
      &:after {
        background-color: unset;
      }
      &:hover,
      &:focus {
        background-color: $medium-grey;
        transform: scale(.94);
      }
      &:disabled {
        opacity: 0.5;
        &:hover,
        &:focus {
          background-color: $light-grey;
          transform: scale(1);
        }
      }
      span {
        color: $black;
      }
    }
    .uct-content {
      &-container {
        max-width: 1030px;
        margin: 0 auto;
        padding: 16px;
        a {
          border: 0;
          box-shadow: unset;
          color: $uct-blue !important;
          text-decoration: none !important;
          &:hover,
          &:focus {
            background-color: transparent !important;
            text-decoration: underline !important;
          }
        }
        figcaption {
          border-left: 7px solid $medium-grey;
          display: flex;
          justify-content: stretch;
          margin-bottom: 48px;
          margin-top: 32px;
          padding-left: 8px;
          p {
            font-size: 14px;
            color: $grey;
            font-style: italic;
            line-height: 1.3;
            margin: 0;
          }
        }
        .full-story-container {
          margin: 0 auto;
          max-width: 800px;
        }
      }
    }
    .social-share-area {
      display: grid;
      gap: 14px;
      grid-template-columns: repeat(5, 1fr);
      margin-bottom: 48px;
      button {
        border-radius: 0;
        font-size: 16px;
        grid-column: 1 / 6;
      }
      a {
        background-color: $light-grey !important;
        box-shadow: unset;
        color: $black !important;
        font-size: 16px;
        height: 48px;
        line-height: 48px;
        overflow: hidden;
        text-align: center;
        -webkit-transition: scale .2s ease-in-out;
        transition: scale .2s ease-in-out;
        &:hover,
        &:focus {
          background-color: $medium-grey !important;
          transform: scale(.85);
        }
      }
    }
  }
  #uct-article-actions-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    margin-top: 32px;
    > div {
     margin-top: 16px;
    }
  }
  #uct-nearby-posts-container {
    display: flex;
    flex: 1;
    > div {
      margin-right: 16px;
    }
  }
  
  #uct-toggle-container button {
    background-color: $white;
    border: 1px solid $black;
    &:hover,
    &:focus {
      background-color: $white;
      border: 1px solid $black;
    }
  }
  #uct-loading-list {
    display: grid;
    font-size: initial;
    grid-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    .uct-loading-item {
      background-image: $loading-background;
      height: 192px;
      opacity: 0.5;
    }
  }
  #uct-excerpt-container {
    * {
      font-family: $sans-serif;
      font-size: 26px;
      font-weight: 300;
      line-height: 1.3;
      margin-bottom: 30px;
    }
    + b {
      display: block;
        width: 130px;
        height: 8px;
        margin-top: 32px;
        margin-bottom: 48px;
        background-color: $uct-blue;
    }
  }
  #uct-current-post-title {
    background-color: transparent;
    color: $black !important;
    font-family: $sans-serif;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.3;
    margin-bottom: 32px;
    margin-top: 0;
    padding: 0;
    text-transform: none;
  }
  #uct-author-container {
    color: #7C878E;
    font-family: $sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    a,
    time,
    span {
      border: 0;
      box-shadow: unset;
      font-weight: 600;
      line-height: 20px;
      text-decoration: none;
    }
    span[aria-hidden="true"] {
      font-style: normal;
      margin-left: 4px;
    }
    
    a {
      color: $uct-blue;
    }
  }
  #uct-article-content {
    font-family: $serif !important;
    font-size: 18px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
    margin: 0 auto;
    max-width: 800px;
    h2,
    h3 {
      color: $black;
      font-size: 24px;
      margin: 20px 0 10px 0;
      line-height: 1.1;
      text-transform: none;
    }
    h2 {
      font-family: $sans-serif;
      font-weight: 500;
    }
    h3 {
      font-family: $display-serif;
      font-weight: 600;
    }
    p, a, span {
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      line-height: inherit;
    }
    > p:first-of-type::first-letter {
      background-clip: text;
      background-image: $loading-background;
      background-size: 100%;
      color: transparent;
      float: left;
      font-family: $sans-serif;
      font-size: 100px;
      font-weight: 700;
      line-height: .9;
      padding-top: 0;
      padding-right: 8px;
      padding-bottom: 0;
      -webkit-background-clip: text;
    }
    a[title^="Copy"],
    a[title^="Email"],
    a[title^="Share"] {
      display: none;
    }
    blockquote {
      border-left: 5px solid $uct-blue;
      font-family: $display-serif;
      margin: 16px;
      padding: 0 20px;
      width: 100%;
      @media screen and (min-width: 769px) {
        display: inline;
        float: right;
        width: 40%;
      }
      p {
        font-family: inherit !important;
        font-size: 30px !important;
        font-weight: 600 !important;
        line-height: 1.3 !important;
      }
      small {
        display: block;
        color: $grey;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        margin-top: 8px;
      }
    }
  }
}