/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

/**
* Main container for the whole plugin
*/
.uctoday-plugin{
	-webkit-box-sizing: border-box;
 	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: inherit;
	max-width: 100%;
}

/**
* Styling the individual plugin post cell
*/
 .uctoday-list-item{
 	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
 	box-sizing: border-box;
	display: inline-block;
	list-style: none;
 	position: relative;
	vertical-align: top;
	width: 18em;
 }

 .uctoday-pictures{
	margin: 0;
 	padding: 0 6px 30px 6px;	
 }

 .uctoday-no-pictures + .uctoday-no-pictures {
	 padding-top: 0.5em;
 }

/**
* div container for the plugin post image
*/
.uctoday-img-container{
	width: 100%;
	padding-bottom: 66.66%;
	position: relative;
}

.uctoday-plugin .uctoday-img-container a {
	display: block;
	height: 100%;
	width: 100%;
	position: initial;
}

/**
* The plugin post picture itself
*/
.uctoday-img-container .uctoday-cell-image{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

/**
* The container for the article title underneath the image
*/
.uctoday-title-container{
	font-weight: 700;
	font-size: .9em;
	margin: 1em 0;
}

/**
* Used for styling the article title link for each post
*/
.uctoday-list-item .uctoday-cell-title{
	border-bottom: 0;
 	box-shadow: 0 0 0 0;
 	color: #000;
 	font-size: 16px;
	font-weight: inherit;
 	line-height: 1.3em;
 	max-width: 100%;
 }

.screen-reader {
	position: absolute;
	left: -99999px;
}

/* 
 Override rules for all browsers that support css grid.
*/

@supports (display: grid) {
	.uctoday-plugin {
		display: grid;
		font-size: initial;
		grid-gap: 1em;
		grid-template-rows: auto;
	}

	div.uctoday-plugin-cols-2 {
		grid-template-columns: repeat(auto-fit, minmax(calc(100% / 2 - 1.5rem), 1fr));
	}

	div.uctoday-plugin-cols-3 {
		grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3 - 1.5rem), 1fr));

	}

	div.uctoday-plugin-cols-4 {
		grid-template-columns: repeat(auto-fit, minmax(calc(100% / 4 - 1.5rem), 1fr));
	}

	.uctoday-pictures {
		margin: 0;
		padding: 0;
	}
	.uctoday-list-item {
		display: unset;
		vertical-align: unset;
		width: auto;
	}
	.uctoday-list-item.uctoday-no-pictures {
		display: block;
		width: auto;
	}
}

@media screen and (max-width: 992px) {
	.uctoday-plugin {
		margin: 0 0.8em 0 2em;
	}

	div[class*="uctoday-plugin-cols"] {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}

.uctoday-plugin-cards {
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.uctoday-story-card-wrapper {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.uctoday-story-card-wrapper .uctoday-story-link {
	display: flex;
	box-shadow: 10px 11px 17px rgba(0, 0, 0, 0.25);
	color: #013ECD;
	flex-direction: column;
	height: 100%;
	padding: 1.5rem;
	text-decoration: none;
	transition: box-shadow 0.15s ease-in;
	will-change: box-shadow;
}

.uctoday-story-card-wrapper .uctoday-story-link:hover,
.uctoday-story-card-wrapper .uctoday-story-link:focus {
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.25);
	transition: box-shadow 0.15s ease-in;
	will-change: box-shadow;
}

.uctoday-story-card-wrapper .uctoday-story-link:hover .uctoday-image-container:before,
.uctoday-story-card-wrapper .uctoday-story-link:focus .uctoday-image-container:before {
	opacity: 0%;
	transition: opacity 0.15s ease-in;
	will-change: opacity;
}

.uctoday-story-card-wrapper .uctoday-story-link:hover .read-more-text,
.uctoday-story-card-wrapper .uctoday-story-link:focus .read-more-text {
	font-weight: 700;
	transition: font-weight 0.15s ease-in;
	will-change: font-weight;
}

.uctoday-story-card-wrapper .uctoday-story-link:hover .read-more-text svg,
.uctoday-story-card-wrapper .uctoday-story-link:focus .read-more-text svg {
	transform: rotate(45deg);
	transition: transform 0.15s ease-in;
	will-change: transform;
}

.uctoday-story-card-wrapper .uctoday-image-container {
	position: relative;
}

.uctoday-story-card-wrapper .uctoday-image-container:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #013ECD;
	border-radius: 15px;
	opacity: 50%;
	transition: opacity 0.15s ease-in;
	will-change: opacity;
}

.uctoday-story-card-wrapper .uctoday-story-category {
	font-family: Roboto, sans-serif;
	font-size: 1.25rem;
	font-weight: 500;
	margin-block-end: 0;
	text-transform: uppercase;
}

.uctoday-story-card-wrapper .uctoday-image-container {
	display: flex;
	height: 14.5rem;
	margin-block: 1rem;
}

.uctoday-story-card-wrapper img.uctoday-story-image {
	border-radius: 15px;
	display: block;
	object-fit: cover;
	width: 100%;
}

.uctoday-story-card-wrapper .uctoday-story-info-container {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.uctoday-story-card-wrapper .uctoday-title-container {
	flex-grow: 1;
}

.uctoday-story-card-wrapper .uctoday-story-title {
	color: #000000;
	font-family: Roboto, sans-serif;
	font-size: 1.75rem;
	font-weight: 700;
	line-height: 1.4;
	margin-block-start: 0;
}

.uctoday-story-card-wrapper .read-more-text {
	align-items: center;
	display: flex;
	font-family: Roboto, sans-serif;
	font-size: 1.25rem;
	font-weight: 400;
	gap: 1rem;
	transition: font-weight 0.15s ease-in;
	will-change: font-weight;
}

.uctoday-story-card-wrapper .read-more-text svg {
	height: 24px;
	fill: #013ECD;
	transform: rotate(0);
	transition: transform 0.15s ease-in;
	will-change: transform;
}

.uctoday-plugin.uctoday-side-by-side {
	display: flex;
	flex-wrap: wrap;
	column-gap: 4rem;
	row-gap: 0;	
}

.uctoday-side-by-side .uctoday-story-item-container {
	flex: 1 1 500px;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.uctoday-side-by-side .uctoday-story-item-container {
	padding-block: 2rem;
}

.uctoday-side-by-side .uctoday-story-item-container + .uctoday-story-item-container {
	border-top-color: #000;
	border-top-style: solid;
	border-top-width: 1px;
}

.uctoday-side-by-side .uctoday-image-container {
	max-width: 200px;
}

.uctoday-side-by-side img.uctoday-story-image {
	aspect-ratio: 9 / 6;
	display: block;
	width: 100%;
}

.uctoday-side-by-side .uctoday-title-container {
	flex: 1;
	font-size: 1.25rem;
}

.uctoday-side-by-side .uctoday-story-link {
	font-family: 'PT Serif', serif;
	text-decoration: none;
}

.uctoday-side-by-side .uctoday-story-link:hover,
.uctoday-side-by-side .uctoday-story-link:focus {
	text-decoration: underline;
}

@media screen and (min-width: 992px) {
	.uctoday-side-by-side .uctoday-story-item-container + .uctoday-story-item-container{
		border-top-color: transparent;
	}
}