html.uct-reader-open .fl-builder-layer {
  position: relative;
}
html.uct-reader-open .fl-builder-layer > * {
  position: relative;
}

div[id^=uctoday-plugin-app] {
  font-size: 16px !important;
  overflow-y: hidden !important;
}
div[id^=uctoday-plugin-app] .uct-loading-image {
  background-image: linear-gradient(45deg, #000e2f, #006bc5);
  height: 192px;
  opacity: 0.5;
}
div[id^=uctoday-plugin-app] .uctoday-list-item:hover {
  cursor: pointer;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper {
  background-color: #fff;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper img {
  height: auto;
  max-width: 100%;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper .uctoday-fallback-image {
  height: 600px;
  margin: 0 auto;
  width: auto;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper.uct-wrapper-closed {
  display: none;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper.uct-wrapper-open {
  display: block;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper button {
  background-color: #f0f3f7;
  border: 1px solid transparent;
  border-radius: 0;
  color: #000;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: unset;
  min-width: auto;
  padding: 16px 32px;
  text-transform: none;
  transition: scale 0.2s ease-in-out;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper button:before, div[id^=uctoday-plugin-app] #uct-content-wrapper button:after {
  background-color: unset;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper button:hover, div[id^=uctoday-plugin-app] #uct-content-wrapper button:focus {
  background-color: #d0d3d7;
  transform: scale(0.94);
}
div[id^=uctoday-plugin-app] #uct-content-wrapper button:disabled {
  opacity: 0.5;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper button:disabled:hover, div[id^=uctoday-plugin-app] #uct-content-wrapper button:disabled:focus {
  background-color: #f0f3f7;
  transform: scale(1);
}
div[id^=uctoday-plugin-app] #uct-content-wrapper button span {
  color: #000;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper .uct-content-container {
  max-width: 1030px;
  margin: 0 auto;
  padding: 16px;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper .uct-content-container a {
  border: 0;
  box-shadow: unset;
  color: #006bc5 !important;
  text-decoration: none !important;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper .uct-content-container a:hover, div[id^=uctoday-plugin-app] #uct-content-wrapper .uct-content-container a:focus {
  background-color: transparent !important;
  text-decoration: underline !important;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper .uct-content-container figcaption {
  border-left: 7px solid #d0d3d7;
  display: flex;
  justify-content: stretch;
  margin-bottom: 48px;
  margin-top: 32px;
  padding-left: 8px;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper .uct-content-container figcaption p {
  font-size: 14px;
  color: #7c878e;
  font-style: italic;
  line-height: 1.3;
  margin: 0;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper .uct-content-container .full-story-container {
  margin: 0 auto;
  max-width: 800px;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper .social-share-area {
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 48px;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper .social-share-area button {
  border-radius: 0;
  font-size: 16px;
  grid-column: 1/6;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper .social-share-area a {
  background-color: #f0f3f7 !important;
  box-shadow: unset;
  color: #000 !important;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  overflow: hidden;
  text-align: center;
  -webkit-transition: scale 0.2s ease-in-out;
  transition: scale 0.2s ease-in-out;
}
div[id^=uctoday-plugin-app] #uct-content-wrapper .social-share-area a:hover, div[id^=uctoday-plugin-app] #uct-content-wrapper .social-share-area a:focus {
  background-color: #d0d3d7 !important;
  transform: scale(0.85);
}
div[id^=uctoday-plugin-app] #uct-article-actions-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
  margin-top: 32px;
}
div[id^=uctoday-plugin-app] #uct-article-actions-container > div {
  margin-top: 16px;
}
div[id^=uctoday-plugin-app] #uct-nearby-posts-container {
  display: flex;
  flex: 1;
}
div[id^=uctoday-plugin-app] #uct-nearby-posts-container > div {
  margin-right: 16px;
}
div[id^=uctoday-plugin-app] #uct-toggle-container button {
  background-color: #fff;
  border: 1px solid #000;
}
div[id^=uctoday-plugin-app] #uct-toggle-container button:hover, div[id^=uctoday-plugin-app] #uct-toggle-container button:focus {
  background-color: #fff;
  border: 1px solid #000;
}
div[id^=uctoday-plugin-app] #uct-loading-list {
  display: grid;
  font-size: initial;
  grid-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
div[id^=uctoday-plugin-app] #uct-loading-list .uct-loading-item {
  background-image: linear-gradient(45deg, #000e2f, #006bc5);
  height: 192px;
  opacity: 0.5;
}
div[id^=uctoday-plugin-app] #uct-excerpt-container * {
  font-family: "Proxima Nova", sans-serif;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.3;
  margin-bottom: 30px;
}
div[id^=uctoday-plugin-app] #uct-excerpt-container + b {
  display: block;
  width: 130px;
  height: 8px;
  margin-top: 32px;
  margin-bottom: 48px;
  background-color: #006bc5;
}
div[id^=uctoday-plugin-app] #uct-current-post-title {
  background-color: transparent;
  color: #000 !important;
  font-family: "Proxima Nova", sans-serif;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.3;
  margin-bottom: 32px;
  margin-top: 0;
  padding: 0;
  text-transform: none;
}
div[id^=uctoday-plugin-app] #uct-author-container {
  color: #7C878E;
  font-family: "Proxima Nova", sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 600;
}
div[id^=uctoday-plugin-app] #uct-author-container a,
div[id^=uctoday-plugin-app] #uct-author-container time,
div[id^=uctoday-plugin-app] #uct-author-container span {
  border: 0;
  box-shadow: unset;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
}
div[id^=uctoday-plugin-app] #uct-author-container span[aria-hidden=true] {
  font-style: normal;
  margin-left: 4px;
}
div[id^=uctoday-plugin-app] #uct-author-container a {
  color: #006bc5;
}
div[id^=uctoday-plugin-app] #uct-article-content {
  font-family: Chronicle, serif !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
  margin: 0 auto;
  max-width: 800px;
}
div[id^=uctoday-plugin-app] #uct-article-content h2,
div[id^=uctoday-plugin-app] #uct-article-content h3 {
  color: #000;
  font-size: 24px;
  margin: 20px 0 10px 0;
  line-height: 1.1;
  text-transform: none;
}
div[id^=uctoday-plugin-app] #uct-article-content h2 {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 500;
}
div[id^=uctoday-plugin-app] #uct-article-content h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 600;
}
div[id^=uctoday-plugin-app] #uct-article-content p, div[id^=uctoday-plugin-app] #uct-article-content a, div[id^=uctoday-plugin-app] #uct-article-content span {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
div[id^=uctoday-plugin-app] #uct-article-content > p:first-of-type::first-letter {
  background-clip: text;
  background-image: linear-gradient(45deg, #000e2f, #006bc5);
  background-size: 100%;
  color: transparent;
  float: left;
  font-family: "Proxima Nova", sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 0.9;
  padding-top: 0;
  padding-right: 8px;
  padding-bottom: 0;
  -webkit-background-clip: text;
}
div[id^=uctoday-plugin-app] #uct-article-content a[title^=Copy],
div[id^=uctoday-plugin-app] #uct-article-content a[title^=Email],
div[id^=uctoday-plugin-app] #uct-article-content a[title^=Share] {
  display: none;
}
div[id^=uctoday-plugin-app] #uct-article-content blockquote {
  border-left: 5px solid #006bc5;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 16px;
  padding: 0 20px;
  width: 100%;
}
@media screen and (min-width: 769px) {
  div[id^=uctoday-plugin-app] #uct-article-content blockquote {
    display: inline;
    float: right;
    width: 40%;
  }
}
div[id^=uctoday-plugin-app] #uct-article-content blockquote p {
  font-family: inherit !important;
  font-size: 30px !important;
  font-weight: 600 !important;
  line-height: 1.3 !important;
}
div[id^=uctoday-plugin-app] #uct-article-content blockquote small {
  display: block;
  color: #7c878e;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 8px;
}
