#wp-admin-bar-uctoday-plugin-admin-bar-group {

}

#wp-admin-bar-uctoday-plugin-admin-bar-clear-cache .ab-empty-item {
  display: none !important;
}

#wp-admin-bar-uctoday-plugin-admin-bar-clear-cache input[type="submit"] {
  background: transparent;
  border: 1px solid #f00;
  color: #fff;
  margin-inline: 10px;
  padding: 5px 10px;
}

#wp-admin-bar-uctoday-plugin-admin-bar-shortcode-attributes #uct-shortcode-atts {
  padding-inline-start: 10px;
}