/*
*
* Setting page styles
*
*/
.uconn-today-plugin-admin table.settings-table {
  border-collapse: collapse;
}

.uconn-today-plugin-admin .settings-table th,
.uconn-today-plugin-admin .settings-table td {
  padding: 10px;
}

.uconn-today-plugin-admin table.settings-table,
.uconn-today-plugin-admin .settings-table th,
.uconn-today-plugin-admin .settings-table td {
  border: 1px solid black;
}

.shortcode-builder-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shortcode-builder-container>div {
  width: 50%;
  padding: 10px;
}

form#uct-shortcode-builder-form label {
  margin-bottom: 10px;
  display: block;
}

.shortcode-builder-container pre {
  white-space: pre-wrap;
}

.shortcode-builder-container pre code {
  display: block;
  padding: 20px;
}

.uconn-today-plugin-admin p {
  max-width: 100ch;
}