/*
*
* Widget styles
*
*/

div[id^="uct-widget-container"] div {
  margin-top: 1rem;
} 

div[id^="uct-widget-container"] label {
  font-weight: bold;
} 

div[id^="uct-widget-container"] > div {
  padding-top: 1rem;
} 

div[id^="uct-widget-container"] > div + div {
  border-top: 1px solid;
} 

/*
* Since we're going to allow the widget to be used with siteorigin, we want the JS version available.
* But I don't think it's a good fit for a regular widget area. 
* This decision can be revisited later.
*/
.wp-admin #js-version-wrapper {
  display: none;
}